* {
    box-sizing: border-box;
}

:root {
    --book-color: #fbeee0;
    --dark-color: #422800;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter Tight', sans-serif;
}

li {
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: var(--book-color);
    border-bottom: 2px solid var(--dark-color);
}

.header h1 {
    color: var(--dark-color);
}

.title {
    text-align: center;
}

.library {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.books {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bookCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background-color: var(--book-color);
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
    width: 200px;
    height: 300px;
    text-align: center;
    border-left: 10px solid var(--dark-color);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.bookCard:hover {
    transform: translateY(-5px);
}

.bookTitle {
    font-weight: bold;
}

.bookAuthor {
    font-size: .9rem;
}

.bookPages {
    font-size: .7rem;
    font-weight: 500;
}

.bookState {
    background: none;
    border: none;
    cursor: pointer;
}

.bookRead::before {
    content: "✔️";
    font-size: 1.5rem;
    color: green;
}

.bookState:hover::before {
    filter: invert();
}

.bookNotRead::before {
    content: "⏳";
    font-size: 1.5rem;
    color: goldenrod;
}

.removeBtn::after {
    content: "❌";
    font-size: 1.5rem;
    color: var(--dark-color);
}

.removeBtn {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    transition: display ease 0.3s;
}

.removeBtn:hover::after {
    color: red;
}

.bookCard:has(.removeBtn:hover) {
    border-color: red;
}

.bookCard:hover .removeBtn {
    display: inherit;
}

.newBook {
    align-self: center;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 10px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
    padding: 0 18px;
    line-height: 2.5rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.newBook:hover {
    background-color: #fff;
}

.newBook:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}


.newBook:focus {
    outline: none;
}

.newBookModal {
    background-color: var(--book-color);
    padding: 30px;
    border: 2px solid var(--dark-color);
    border-radius: 5px;
}

.newBookForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--dark-color);
}

.formInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.formInput input {
    line-height: 1.5rem;
    border: 2px solid var(--dark-color);
    text-align: center;
    color: var(--dark-color);
    border-radius: 10px;
}

.formInput input:focus {
    outline: 2px solid var(--dark-color);
}

.submitBook {
    align-self: flex-end;
    background-color: white;
    border: 2px solid #422800;
    border-radius: 10px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
    padding: 0 18px;
    line-height: 2.5rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

input[type='checkbox'] {
    width: 30px;
    height: 30px;
    accent-color: var(--dark-color);
    border: 2px solid var(--dark-color);
}

input[type='checkbox']:focus {
    outline: none;

}

.submitBook:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.closeDialog {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}